/**************   card initiaive   ****************/
.card__basic {
  @include shadow-light;
  border-radius: 5px;
  padding: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: .3s;

  button.btn-primary svg {
    width: 20px;

    path {
      transition-duration: .3s;
    }
  }
}

.card__basic:hover {
  background-color: var(--theme-primary);

  h4,
  p {
    color: var(--white);
  }

  button.btn-primary {
    background-color: var(--white);
    color: var(--theme-primary);

    svg path {
      fill: var(--theme-primary);
    }
  }
}

.card__basic--content {
  h4 {
    color: var(--theme-primary);
  }
}

.card__basic {

  button span,
  button svg {
    margin: 0 2px;
  }
}

/**************   card agenda   ****************/

.card__agenda {
  position: relative;
  flex: 0 0 auto;
  @extend %shadow;
  @extend %border-radius;
  cursor: pointer;
  max-width: 250px;
}

$badges: (primary: #6495ec,
  secondary: #9900ff,
  tertiary: #ff6303,
  quaternary: #ff31b0);

@each $name,
$color in $badges {
  .badge--#{$name} {

    .card__agenda-icon,
    .card__agenda-footer button {
      background-color: $color;
    }
  }
}

.card__agenda-icon {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @include flex-center;

  img {
    width: 35px;
  }
}

.card__agenda-content {
  padding: 2rem;
  min-height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .card__agenda-time {
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: var(--gray-600);
    font-weight: var(--body-bold);
  }

  h5 {
    font-size: 2rem;
    padding: 0 1rem;
    color: var(--gray-dark);
    font-weight: var(--body-bold);
  }
}

.card__agenda-footer {
  position: relative;
  background-color: var(--agenda-footer);
  padding: 2rem;

  p {
    text-align: center;
    color: var(--gray-dark);
    font-weight: var(--body-bold);
    color: var(--gray-600);
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  button {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--theme-primary);
    border-radius: 30px;
    color: var(--white);
    padding: 10px 15px;
    font-size: 1rem;
  }
}


/**************   card step qui sommes nous   ****************/

.card__step {
  border-radius: 3px;
  padding: 1rem;
  height: 100%;
  margin-bottom: 1rem;

  h4 {
    text-transform: uppercase;
  }

  header svg {
    width: 50px;
  }
}

.card__step header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  background-color: transparent;
}

.card__step-number {
  font-size: 3.4rem;
  font-weight: var(--body-bold);
}

.card__step--one {
  border: 2px solid var(--theme-primary);

  span,
  h4,
  article {
    color: var(--theme-primary);
  }

  svg path {
    fill: var(--theme-primary);
  }
}

.card__step--two {
  border: 2px solid var(--black);

  span,
  h4,
  article {
    color: var(--black);
  }

  svg path {
    fill: var(--black);
  }
}

.card__step--three {
  border: 2px solid var(--theme-primary);
  background-color: var(--theme-primary);

  span,
  h4,
  article {
    color: var(--white);
  }

  svg path {
    fill: var(--white);
  }
}


.card__organization {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include shadow-light;
  border-radius: 5px;
  padding: 2rem 1rem;
  height: 100%;
  min-height: 400px;
  background-color: var(--white);

  h4 {
    padding-bottom: 1rem;
  }

  a {
    margin: 0 auto;
  }

  button.btn-primary svg {
    width: 20px;
    margin-left: 5px;

    path {
      transition-duration: .3s;
    }
  }
}

.background-gray-light {
  background-color: var(--gray-200);
}

/**************   card contact   ****************/

.card__contact{
  padding: 2rem 0.5rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/**************   card link (contact page)   ****************/

a.card__link {
  border-radius: 10px;
  overflow: hidden;
  transition-duration: 300ms;
  @include shadow;

  &:hover {
    background-color: var(--theme-primary);

    figure .card__link--button {
      background-color: var(--white);

      svg path {
        fill: var(--theme-primary);
      }
    }

    h3,
    p {
      color: var(--white);
    }
  }

  figure {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 50px 400px;
    grid-template-rows: min-content;

    figcaption {
      padding: 20px;
    }

    .card__link--button {
      height: 100%;
      background-color: var(--theme-primary);
      transition-duration: 300ms;
      @include flex-center;

      svg path {
        fill: var(--white);
        transition-duration: 300ms;
      }
    }

    picture {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        @include absolute-center;
        height: 100%;
        width: auto;
        object-fit: fill;
        @include custom-responsive-up(1350px){
          height: auto;
          width: 100%;
        }
      }
    }
  }
}


/**************   card qrcode donation   ****************/
.card__qr{
  border-radius: 10px;
  @include shadow-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  img{
    max-width: 400px;
  }
}

.card__qr-description{
  text-align: center;
  h4, p{
    color: var(--white);
  }
}

/**************   card agenda (agenda page)   ****************/

.card__date{
  background-color: var(--light-blue);
  width: 100%;
  min-height: 383px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  color: var(--gray-dark);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  &:hover{
    background-color: darken(#DFE1EB, 20%);
  }
  &.active:hover{
    background-color: darken(#1D71AE, 20%);
  }
  svg path{
    fill: var(--gray-dark)
  }
}

.card__date.active{
  background-color: var(--theme-primary);
  color: var(--white);
  svg path{
    fill: var(--white)
  }
}

.card__date--header{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card__date--header .card__date--date{
  span{
    display: block;
    font-size: 0.8rem;
  }
  span:nth-child(2){
    font-size: 3rem;
  }
}

.card__date--body{
  h4{
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.7rem;
  }
}

.card__date--footer{
  display: flex;
  margin-top: 30px;
  .card__date--location{
    margin-left: 15px;
  }
}



