.form-container.form-column{
  flex-direction: column;
}

.form-container {
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form-container {
  h3 {
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: var(--theme-primary);
  }

  h4 {
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--gray-700);
    font-weight: var(--body-normal);
  }
}

/**************   form   ****************/
.form__contact .form-box__left{
  background-image: url('../images/contact.png');
}

.form__donation .form-box__left{
  background-image: url('../images/team-goals.png');
}

.form-box__left h3,
.form-box__left p{
  text-align: center;
}

.form-box__left h3{
  font-size: 1.2rem;
}

.form-box__left p{
  margin-bottom: 5px;
}


.form-box {
  min-height: 650px;
  width: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  @include shadow-light;
}

.form-box__left {
  height: 100%;
  max-width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 644px;
  background-color: rgba(30, 113, 174, 0.05);
  padding: 1rem;
}

.form-box__right {
  padding: 0.5rem;
  form{
    display: block;
    margin: 0 auto;
    max-width: 400px;
  }
}

.form-box {
  h2 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
  }

  p.form-box__description {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}