.header {
  z-index: 1000;
  position: fixed;
  height: var(--header-top);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include shadow;

  *> {
    height: 100%;
  }
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 100%;
    max-width: 170px;
  }
}

.header__logo--down {
  max-width: 150px;
}

.header__nav-links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;

  li {
    position: relative;
    margin: 0 10px;

    a {
      color: var(--black);
      font-weight: var(--body-normal);
      transition-duration: 0.3s;
      background-color: var(--gray-100);
      padding: 2px 10px;
      border-radius: 20px;

      &:hover {
        background-color: var(--gray-300);
      }

      &.active {
        background-color: var(--theme-primary);
        color: white;
      }
    }
  }

  ul.links-user {
    margin-left: 20px;
    li {
    margin: 0;
    a{
      background-color: transparent;
      padding: 2px 10px;
      border-radius: 0;
      color: var(--black);
      &:hover{
        background-color: transparent;
        color: var(--theme-primary);
      }
      &.active {
        color: var(--theme-primary);
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateX(-2px) translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--black);
    }

    &:first-child:before{
      display: none;
    }
  }
  }

}
